#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: gustavogonzales # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDHni9L2qa9QTsAbQLsTK+n1Mse2c1wzod0Xhc2C5jCtCCe5FoUGLMHJwFUeOPoSbXLoAEkyD5Sy1glOJPRoVl3avVc0DUJRBa9P91G8Kpi6Qlp2KNaDn3RdCQB7rJRVkF38TM/LiKIHy0Zwz0QSCjyZU7YWG/eyRXeuR3Suofqfg8GITZQxrZB9K2MFkOHlUSTyB8K4w63caoes18bzZLPiB8rg9wukqO6aBwoaeA7J9UGx8cbWrb1xutDBf+67u7T7osKvJDgaculSyO4a8atBcBuN4T4HrkQ8tMo/TosH+D3CT9YN6wRNnylwuV4oqycxm/8cukaA2ROVd3oEMmyTVPQnwCB5ukz8n/gbl33Ll6CwvY4lzZIAtpdvemiPOrlTTlVkUn0MNOW1hT9PtffuWNAjTU8h/RE1LidPoMwoKCKjGykW51xkhMwWzJ1ZGYvWuH4f6KVNXs3mEYqUIrE7FqJ6b7oGkQghQclCR6wOwkluY4HM91Y61EYZ0Ebg6c= gustavogonzales@server
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
