#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: gustavogonzales # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCv+SYGks05nzB94hbz/KVza38fc01YiYT5Wh3CaDro8ygRWEQz4sUxWgXVMy0LAyVCl6u/yJxrTAnNC8pf5K1bv/rlSlZLnKWWbt+kEXCTBsTlEkq8NfmxVM8cJm2Vxnhtj2Fs/XeRzGOCOQ5LUYI6UUgWSI6lxQf88u3cOq6NdBV+b+HYccpcgWKDmQ3qlFkOFA/gVdZ+3rJTP2g0Fkg8rZyOnnfBLBUauCG7MOWV5JTPk4S1w+PYXaCMReYDNZhVVgq/2KXef2bCnWfin1AwZEBs+zmRHDgiARu//dcRxrDJrEsqzMsHiO+UpMfEkrTQOVjHOgMTY9G/VCFvNRdBCAs7moznWNd7pGYpXjxOtR0y1+V9NO7sqE4hZfWIYghWpErVV4AVmBBQgUwuUlMG/36AuU2aSsZx0dCF1+PoQ7BDIla7se5T+rasDnaIUeKeGtgnzyxZYGPZtmsutqLQspa3NsF5ocWy2Ub+SXQH0dUl2h0Z3Z3XC/KURZGHxAk= gustavogonzales@server
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
